/* ~~~~~~~~~~~~~~~~~~~~~~~~
            CSS RESET1
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;

}
body {

	line-height: 1;

}
ol, ul {

	list-style: none;

}
blockquote, q {

	quotes: none;

}
blockquote:before, blockquote:after,
q:before, q:after {

	content: '';
	content: none;

}
table {

	border-collapse: collapse;
	border-spacing: 0;

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~
            My code - beginning
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


html {

    font-size: 16px;

}

body {

        max-width: 1024px;
        margin: 0 auto;
        background-color: #aad4cf;
        font-family: Arial, Calibri, 'Trebuchet MS', sans-serif;

}

.container {

    background-color: #D8E8E6;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~
            My code - header
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


header img {

    width: 100%;
    display: block;
    padding: 0;
    max-width: 1024px;

}

.headertext {
    
    max-width: 1024px;
    height: 320px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    line-height: 450px;
    position: absolute;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~
            My code - nav
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav ul {

    padding-left: unset;

}

nav li {
    
    display: inline;

}

nav li a {

    display: inline-block;
    /* border-box is used to prevent the padding from counting towards the height of the <a> element. The padding is necessary to position the text, but not necessary to lengthen the entire element. */
    box-sizing: border-box;
    text-decoration: none;
    color:#000;
    font-size: 1.6rem;
    text-align: center;
    /* 32.9% is to ensure they remain in three columns. 33% makes the third drop down. */
    width: 32.9%;
    height: 45px;
    padding-top: 10px;
    margin-top: 3px;
    margin-bottom: 25px;

}

/* This targets a .centrenav class which is located on only the second of three list items in the HTML, to get the vertical borders in the nav. Their height is controlled by the margins of the list element anchors, above. */
.centrenav a {

    border-left: 1px black solid;
    border-right: 1px black solid;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~
            My code - content
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {

    font-size: 2.2rem;
    margin: 10px;

}

h2 {

    font-size: 1.8rem;
    margin: 10px;
    padding: 10px 0;

}

h3 {

    font-size: 1.25rem;
    margin: 10px 0;
    padding: 10px 0;

}

p {

    font-size: 1rem;
    line-height: 22px;
    margin: 22px 12px;

}

img {

    float:left;
    width: 250px;
    padding: 10px;
    margin-right: 10px;

}

/* from https://www.w3schools.com/howto/howto_css_clearfix.asp */
.clearfix::after {

    content: "";
    clear: both;
    display: table;

  }

ul {

    list-style: disc;
    padding-left: 25px;

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~
            My code - form
~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {

    margin: 10px;
    border: 1px black solid;
    padding: 20px 20px;
    font-size: 1.1rem;

}

label {

    display: block;
    padding-bottom: 5px;
    margin: 17.5px 0 5px;

}

input {

    width: 100%;
    height: 1.5rem;

}

textarea {

    resize: none;
    width: 100%;
    height: 6rem;

}

.radio {

    display:unset;
    height:unset;
    width: unset;
    margin-top: 10px;

}

.button {

    display: block;
    width: 55px;
    height: 38px;
    background-color: unset;
    margin-top: 20px;
    font-size: .75rem;
    border-width: 1px;

}

footer {

    text-align:right;
    margin: 30px;
    height: 50px;

}